html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Manrope';
    font-style: normal;
}

main {
    background: $w;
}

main section {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
// %f_sb_c {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// %f_c_c {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// %f_co_c {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// // button global

//  %button {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 160px;
//     height: 48px;
//     font-weight: 700;
//     font-size: 13px;
//     line-height: 18px;
//     letter-spacing: 1px;
//     text-transform: uppercase;
//  }


// test

// .test {
//     width: 689px;
//     height: 5px;
//     position: fixed;
//     background-color: red;
//     top: 0;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 5;
   
// }

// header


header {
    // height: 729px;
    background-color: $lb;
    background-image: url(../images/foto_section/home/home__firstsection_background.png);
    background-size: 1440px 729px;
    background-position: top right;
    background-repeat: no-repeat;
    padding: 0 calc(50vw - 573px);
    margin-bottom: 120px;

    position: relative;
}

header a:hover {
    color: $br;
}
    
.header {
    
    &_box {
        height: 96px;
        max-width: 1130px;
        padding: 0 10px;
        @extend %f_sb_c;

        &-logo {
            width: 143px;
            height: 25px;
            background-image: url(../images/header/header_logo.png);
            background-position: center;
            background-repeat: no-repeat;
        }

        &-nav {
            display: flex;
            gap: 34px;
            
            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $w;
        }

        &-button__burger {
            width: 16px;
            height: 15px;
            background-color: $b;
            background-image: url(../images/header/header_burger.png);
            background-position: center;
            background-repeat: no-repeat;
            display: none;
        }

        &-button {
            width: 23px;
            height: 20px;
            background-color: $b;
            background-image: url(../images/header/header_korb.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.burger_menu {
    display: none;
    position: absolute;
    z-index: 3;
    top: 90px;
    left: 0;
    width: 100%;
    height: 340px;
    padding: 108px calc(50vw - 354px) 0 calc(50vw - 354px);
    background: $w;
    
}

// .active {
//     display: block;
// }

.navigation {

    display: flex;
    padding-top: 80px;
    margin-bottom: 160px;
    gap: 30px;
    width: 100%;

    &_box {
        width: 100%;
        height: 204px;
        border-radius: 8px;
        background-color: $g;
        @extend %f_co_c;

        &-conteiner {
            position: relative;

            @extend %f_co_c;
            height: 74px;
            width: 100%;
            margin-bottom: 42px;
        }

        &-foto {
            position: absolute;
            transform: translateY(-50%);
            z-index: 2;
        }

        &-schadov {
            max-width: 100%;
            position: absolute;
            transform: translateY(21px);
            z-index: 1;
        }

        &-name {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            letter-spacing: 1.28571px;
            text-transform: uppercase;
            color: $b;
            margin-bottom: 15px;
        }

        &-href {
            font-weight: 700;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $b;
            mix-blend-mode: normal;
            opacity: 0.5;
            display: flex;
            gap: 13px;
            align-items: center;
        }

        
    }
}

.navigation_box:hover a {
    color: $br;
    opacity: 1;
}

// about as 

.about {
    width: 100%;
    height: 588px;
    @extend %f_sb_c;
    margin-bottom: 160px;

    &_conteiner {
        max-width: 445px;
        min-width: 327px;
        @extend %f_co_c;
        gap: 32px;

        &-title {
            font-weight: 700;
            font-size: 40px;
            line-height: 44px;
            letter-spacing: 1.42857px;
            text-transform: uppercase;
            color: $b;
        }

        &-text {
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            color: $b;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
    }

    &_background {
        width: 540px;
        height: 100%;
        background-image: url(../images/global/about_background.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.about_conteiner-title span {
    color: $br;
}

// footer

footer {
    padding: 0 calc(50vw - 573px) 48px calc(50vw - 573px);
    background-color: $b;
}

.footer_conteiner {
    padding: 0 10px;
    position: relative;
}

.footer_line {
    width: 101px;
    height: 4px;
    background-color: $br;
    margin-bottom: 71px;
}
.footer {

    &_box {
        @extend %f_sb_c;
        margin-bottom: 36px;

        &-logo {            
            width: 143px;
            height: 25px;
            background-image: url(../images/header/header_logo.png);
            background-position: center;
            background-repeat: no-repeat;
        }

        &-navigation {
            display: flex;
            gap: 34px;
        }

        &-link {
            font-weight: 700;
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $w;
        }
    }

    &_text {      

        &-text {
            margin-bottom: 56px;
            max-width: 540px;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            color: $w;
            mix-blend-mode: normal;
            opacity: 0.5;

        }

        &-coopiright {
            max-width: 540px;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            color: $w;
            mix-blend-mode: normal;
            opacity: 0.5;
        }

    }

    &_social {
        position: absolute;
        right: 10px;
        bottom: 88px;
        display: flex;
        gap: 16px;

        &-link {
            width: 24px;
            height: 24px;
        }
    }
}

#facebook {
    background: url(../images/global/footer_social.png) 0 0;
}

#facebook:hover {
    background: url(../images/global/footer_social_hover.png) 0 0;
}

#twitter {
    background: url(../images/global/footer_social.png) -24px 0;
}

#twitter:hover {
    background: url(../images/global/footer_social_hover.png) -24px 0;
}
#instagram {
    background: url(../images/global/footer_social.png) 24px 0;
}

#instagram:hover {
    background: url(../images/global/footer_social_hover.png) 24px 0;
}

.footer_box-link:hover {
    color: $br;
}
